html,
body {
    background-color: #eeeeee;
}

footer {
    padding-top: 2em;
}

.st1 {
    fill: none;
    stroke: #010049;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: center center;
}

.st2 {
    fill: #010049;
    stroke: #010049;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: center center;
}

.spin {
    -webkit-animation: spin 1s cubic-bezier(0.25, 0.15, 0.15, 1);
    -moz-animation: spin 1s cubic-bezier(0.25, 0.15, 0.15, 1);
    animation: spin 1s cubic-bezier(0.25, 0.15, 0.15, 1);
    stroke: #010049;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}

.show {
    -webkit-transition: opacity 15s ease-in-out;
    -moz-transition: opacity 15s ease-in-out;
    -ms-transition: opacity 15s ease-in-out;
    -o-transition: opacity 15s ease-in-out;
    opacity: 1;
}