.mainimg {
    width: 100%;
    height: auto;
}

.mainimg-mobile {
    width: 100%;
    height: auto;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 0;
}

.mainimg-1 {
    border-radius: 30px;
}