html,
body {
    background-color: #000000;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

footer {
    padding-top: 2em;
}

.st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transform-origin: center center;
}

.spin {
    -webkit-animation: spin 90s linear infinite;
    -moz-animation: spin 90s linear infinite;
    animation: spin 90s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.hide {
    opacity: 0;
}

.show {
    -webkit-transition: opacity 15s ease-in-out;
    -moz-transition: opacity 15s ease-in-out;
    -ms-transition: opacity 15s ease-in-out;
    -o-transition: opacity 15s ease-in-out;
    opacity: 1;
}